RPi.GPIO==0.6.3
future==0.16.0
pyserial==3.4
pigpio==1.38
resin-sdk==1.6.2
luma.oled==2.3.0
python-dateutil==2.6.1
picamera==1.13
numpy==1.13.3
pycrypto==2.6.1
requests==2.9.1
paramiko==2.4.0
PyYAML==3.12
